
<div class="main-container">
    <iframe class="google-form" src="https://docs.google.com/forms/d/e/1FAIpQLScIhXaizW6id1v4kfxEY4GviaW38kfpmnfBFgf4FAmjEqRU5g/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

<div class="modal-container" *ngIf="showModal">
    <div class="modal-text">Your Payment Has Processed Successfully!</div>
    <div class="modal-text-small">Please proceed to complete the form.</div>
    <div id="hero-button" (click)="closeModal()">Close</div>
</div>
