
<div class="main-container" *ngIf="!paymentView && !isLoading">
    <h2>Rental Application</h2>

    <hr>

    <div class="form-container">
        <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
            <div class="form-group-small">
                <label class="labels" for="Email">Email</label>
                <input type="email" class="form-email" name="Email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="Email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group-small">
                <label class="labels" for="Name">Full Name</label>
                <input type="text" class="form-name" name="Name" placeholder="Full Name" formControlName="Name">
            </div>
            <div class="form-group-small">
                <label class="labels" for="Message">Message</label>
                <textarea class="form-message" formControlName="Message" name="Message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary submit-button" [disabled]="!FormData.valid">Submit</button>
        </form>
    </div>

    <div id="paypal-button-container"></div>
    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
    <script>
      paypal.Buttons({
          style: {
              shape: 'rect',
              color: 'gold',
              layout: 'vertical',
              label: 'paypal',
              
          },
          createOrder: function(data, actions) {
              return actions.order.create({
                  purchase_units: [{
                      amount: {
                          value: '10'
                      }
                  }]
              });
          },
          onApprove: function(data, actions) {
              return actions.order.capture().then(function(details) {
                  alert('Transaction completed by ' + details.payer.name.given_name + '!');
              });
          }
      }).render('#paypal-button-container');
    </script>
</div>

<div class="main-container" *ngIf="paymentView && !isLoading">
    <router-outlet></router-outlet>
</div>

<div class="loading-container" *ngIf="isLoading">
    <img src="/assets/img/Spinner-1s-257px.gif" alt="Loading Icon">
</div>

<div *ngIf="!messageView && !isLoading">
    <app-footer position="relative"></app-footer>
</div>