
<div class="space" *ngIf="!isLoading">
    <div>
        <div class="main-container">
            <div class="paypal-container">
                <h1>Rental Application</h1>
        
                <hr>
        
                <div class="details-container">
                    <h2>Overview</h2>
                    <p class="top-paragraph">
                        The rental application must be paid upfront (before filling out the application) with a $10
                        <span class="underline">non-refundable</span>
                        fee. Each individual (18 or older) that is interested in any rental
                        <span class="italic">MUST</span>
                        fill out a seperate application.
                    </p>
                    <p class="middle-paragraph">
                        You can pay the application fee through PayPal below. You will be able to sign in to a PayPal account or pay with a credit/debit card. Once the payment is accepted, you will be redirected to the application process.
                    </p>
                </div>
                <div class="paypal-btn-container">
                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                </div>
            </div>
        </div>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>

<div class="loading-container" *ngIf="isLoading">
    <img src="/assets/img/Spinner-1s-257px.gif" alt="Loading Icon">
</div>
