
#footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    background: #0e1111;
    -webkit-box-shadow: 0 0 10px rgba(33, 33, 33, .6);
    -moz-box-shadow: 0 0 10px rgba(33, 33, 33, .6);
    box-shadow: 0 0 10px rgba(33, 33, 33, .6);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
}

.item {
    cursor: pointer;
    padding: 0px 20px;
    color: white;
    font-size: 17px;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    transition: .4s ease;
}

.item:hover {
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    transform: translateY(10%);
}

.item:focus {
    outline: none;
}

.letter-text-main {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    color: white;
    width: auto;
}

.bottom-container {
    width: 100%;
    font-size: 13px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#letter {
    margin-left: 30px;
    left: 0;
}

#seft {
    margin-right: 30px;
    right: 0;
}

hr {
    display: block;
    border-width: .8px;
    border-style: solid;
    color: white;
    width: 90%;
    margin: 30px 0px;
}

.fas {
    margin-right: 10px;
}

.far {
    margin-right: 10px;
}

@media(max-width: 640px) {
    .bottom-container {
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        margin-bottom: 15px;
    }

    #letter {
        margin: 0;
    }

    #seft {
        margin: 0;
    }

    hr {
        margin: 15px 0px;
    }
}

@media(max-width: 492px) {
    .item {
        font-size: 14px;
        padding: 0px 10px;
    }

    .letter-text-main {
        font-size: 12px;
    }
}

@media(max-width: 390px) {
    .bottom-container {
        font-size: 10px;
    }

    .item {
        font-size: 12px;
        padding: 0px 5px;
    }

    .letter-text-main {
        font-size: 10px;
    }
}

@media(max-width: 314px) {
    .bottom-container {
        font-size: 8px;
    }
}
