
<footer id="footer">
    <div id="menu-items">
        <div class="item" routerLink="">
            Home
        </div>|
        <div class="item" (click)="navProperties()">
            Properties
        </div>|
        <div class="item" routerLink="/rental-application">
            Rental Application
        </div>|
        <div class="item" routerLink="/contact-page">
            Contact
        </div>
    </div>

    <div class="letter-text-main">
        <div class="letter-text">
            <i class="fas fa-map-marker-alt"></i>
            14562 Santa Fe-New Knoxville Rd, Wapakoneta, OH 45895
        </div>
        <div class="letter-text">
            <i class="far fa-envelope"></i>
            realtor.john1@yahoo.com
        </div>
        <div class="letter-text">
            <i class="fas fa-phone"></i>
            419-738-HOME (4663)
        </div>
    </div>

    <hr>

    <div class="bottom-container">
        <div id="letter">
            © Copyright 2023, Realtor John Barnett | Realtor and Property Manager
        </div>

        <div id="seft">
            Designed by Seft Software™
        </div>
    </div>
</footer>
