
.main-container {
    width: 100%;
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.far {
    color: #0e1111;
}

.fa-map-marker-alt {
    color: #0e1111;
}

.logo {
    width: 70px;
    height: 60px;
}

.hero-image {
    width: 1200px;
    height: 550px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 90px;
    box-shadow: 0 0 8px rgba(33, 33, 33, .6);
}

.hero-image-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 360px;
    height: 260px;
    background: white;
    border-radius: 5px;
    opacity: .95;
    color: black;
    font-size: 28px;
    box-shadow: 0 0 20px rgba(33, 33, 33, .9);
    z-index: 99;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    animation: slideToLeft 30s ease infinite 1.8s;
}

.image-size {
    width: 100%;
    height: 100%;
}

@keyframes slideToLeft {
    0%,
    8% {
      transform: translateX(0);
    }
    13%,
    25% {
      transform: translateX(-100%);
    }
    30%,
    42% {
      transform: translateX(-200%);
    }
    47%,
    59% {
      transform: translateX(-300%);
    }
    64%,
    76% {
      transform: translateX(-200%);
    }
    81%,
    93% {
      transform: translateX(-100%);
    }
    98%,
    100% {
      transform: translateX(0);
    }
}

#top-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#top {
    margin-top: -8px;
    font-size: 36px;
    font-weight: bold;
}

hr {
    margin-top: -8px;
    display: block;
    border-width: 1px;
    border-style: solid;
    color: black;
}

.hero-small-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: -8px;
    margin-bottom: 18px;
}

#left {
    text-overflow: ellipsis;
    margin-right: 4px;
}

#right {
    text-overflow: ellipsis;
    margin-left: 4px;
}

#hero-button {
    cursor: pointer;
    color: white;
    background: #0e1111;
    border-radius: 5px;
    padding: 0px 15px;
    font-size: 28px;
    box-shadow: 0 0 12px rgba(33, 33, 33, .4);
    transition: .5s;
}

#hero-button:hover {
    transform: translateY(10%);
}

#hero-button:focus {
    outline: none;
}

.fa-phone {
    margin-right: 10px;
}

.middle-top-container {
    width: 100%;
    height: 150px;
    background: #0e1111;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    box-shadow: 0 0 12px rgba(33, 33, 33, .5);
    margin-bottom: 50px;
}

.middle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 90px;
}

.middle-content {
    display: flex;
    height: fit-content;
    width: 280px;
    height: 330px;
    padding-bottom: 25px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 12px rgba(33, 33, 33, .8);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: .3s ease;
    border: 0px solid white;
}

.middle-icon {
    color: #1C86EE;
    margin-top: 25px;
}

.middle-mid-text {
    margin-top: 10px;
    color: black;
    font-size: 26px;
    text-decoration: underline;
}

.middle-bot-text {
    color: black;
    font-size: 18px;
    margin-left: 45px;
    margin-right: 40px;
    text-align: left;
}

.call-container {
    margin-bottom: 90px;
    width: 1200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(33, 33, 33, .3);
}

.call-top {
    width: 100%;
    background: #0e1111;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.call-bot {
    width: 100%;
    background: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.call-first {
    padding-left: 20px;
}

.call-header {
    font-size: 26px;
    color: black;
}

.call-body {
    margin-top: -25px;
    font-size: 18px;
    color: black;
    padding-right: 20px;
}

.call-second {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.call-second-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    margin-top: 15px;
    padding-right: 20px;
    text-align: center;
    font-weight: bold;
}

span {
    font-size: 22px;
    font-weight: normal;
}

.action {
    margin-bottom: 90px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/img/action.jpg);
    box-shadow: 0 0 12px rgba(33, 33, 33, .5);
}

#big-text {
    color: white;
    font-size: 60px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #6b6e70;
    padding: 0px 20px;
    box-shadow: 0 0 20px rgba(33, 33, 33, .9);
    animation: pulse 3.5s 1s both infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: white;
}

#prop-button {
    font-size: 28px;
    opacity: .95;
    color: black;
    cursor: pointer;
    margin: 0px 20px;
    background: #ffffff;;
    border-radius: 5px;
    opacity: .95;
    padding: 0px 15px;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(33, 33, 33, .9);
    transition: .5s;
}

#prop-button:hover {
    transform: translateY(10%);
}

.bot-button {
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-container-image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.location-first {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location-second {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.modal-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-text {
    font-size: 32px;
    font-weight: bold;
}

.modal-text-small {
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 20px;
}

@media(max-width: 1240px) {
    .hero-image {
        width: 1000px;
    }

    .middle-container {
        width: 1000px;
    }

    .call-container {
        width: 1000px;
    }

    #big-text {
        font-size: 50px;
    }
}

@media(max-width: 1040px) {
    .hero-image {
        width: 800px;
    }

    .middle-container {
        width: 800px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 45px;
    }

    .middle-content {
        margin-bottom: 45px;
    }

    .call-container {
        width: 800px;
    }
    .action {
        height: 340px;
    }

    #big-text {
        font-size: 42px;
    }

    #hero-button {
        font-size: 24px;
    }

    #prop-button {
        font-size: 24px;
    }

    .modal-text {
        font-size: 28px;
    }

    .modal-text-small {
        font-size: 18px;
    }
}

@media(max-width: 840px) {
    .hero-image {
        width: 600px;
        height: 400px;
        margin-bottom: 70px;
    }

    .middle-container {
        width: 600px;
        margin-bottom: 30px;
    }

    .call-container {
        width: 600px;
        margin-bottom: 70px;
    }

    .action {
        height: 300px;
        margin-bottom: 70px;
    }

    #big-text {
        font-size: 32px;
    }

    #top {
        font-size: 28px;
    }

    .hero-small-container {
        font-size: 14px;
    }

    #hero-button {
        font-size: 22px;
    }

    #prop-button {
        font-size: 22px;
    }

    .hero-image-content {
        width: 320px;
        height: 220px;
    }

    .middle-top-container {
        font-size: 28px;
        height: 120px;
        margin-bottom: 40px;
    }

    .middle-content {
        margin-bottom: 40px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    span {
        font-size: 16px;
    }

    .call-body {
        font-size: 16px;
    }

    .call-second-text {
        font-size: 16px;
    }
}

@media(max-width: 640px) {
    .hero-image {
        width: 400px;
        height: 300px;
        margin-bottom: 50px;
    }

    .middle-container {
        width: 400px;
        margin-bottom: 10px;
    }

    .call-container {
        width: 400px;
        margin-bottom: 50px;
    }

    .action {
        height: 200px;
        margin-bottom: 50px;
    }

    #big-text {
        font-size: 22px;
    }

    #top {
        font-size: 20px;
    }

    .hero-small-container {
        display: none;
    }

    #hero-button {
        font-size: 18px;
        padding: 2px 10px;
    }

    #prop-button {
        font-size: 18px;
        padding: 2px 10px;
    }

    .hero-image-content {
        width: 150px;
        height: 130px;
    }

    .middle-top-container {
        font-size: 24px;
        height: 100px;
        margin-bottom: 40px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    #top-top {
        margin-bottom: 0px;
    }

    .logo {
        width: 50px;
        height: 40px;
    }

    .middle-mid-text {
        font-size: 24px;
        margin-top: 4px;
    }

    .middle-bot-text {
        font-size: 16px;
    }

    .middle-icon {
        margin-top: 20px;
    }

    #buttons {
        margin-top: 35px;
    }

    .modal-text {
        font-size: 24px;
    }

    .modal-text-small {
        font-size: 16px;
    }
}

@media(max-width: 440px) {
    .hero-image {
        width: 318px;
        height: 240px;
        margin-bottom: 50px;
    }

    .middle-container {
        width: 318px;
        margin-bottom: 10px;
    }

    .call-container {
        width: 318px;
        margin-bottom: 50px;
    }

    .action {
        height: 180px;
        margin-bottom: 50px;
    }

    #big-text {
        font-size: 16px;
    }

    #top {
        font-size: 20px;
    }

    #hero-button {
        font-size: 14px;
    }

    #prop-button {
        font-size: 14px;
    }

    .hero-image-content {
        width: 150px;
        height: 130px;
    }

    .middle-top-container {
        font-size: 18px;
        height: 100px;
        margin-bottom: 40px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    span {
        font-size: 14px;
    }

    #top-top {
        margin-bottom: 0px;
    }

    .logo {
        width: 50px;
        height: 40px;
    }

    .middle-mid-text {
        font-size: 24px;
        margin-top: 0px;
    }

    .middle-bot-text {
        font-size: 16px;
    }

    .middle-icon {
        margin-top: 20px;
    }

    #buttons {
        margin-top: 25px;
    }

    .modal-text {
        font-size: 18px;
    }

    .modal-text-small {
        font-size: 14px;
    }
}
