
.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.google-form {
    width: 640px;
    height: 800px;
}

@media(max-width: 700px) {
    .google-form {
        width: 600px;
    }
}

@media(max-width: 600px) {
    .google-form {
        width: 500px;
    }
}

@media(max-width: 500px) {
    .google-form {
        width: 400px;
    }
}

@media(max-width: 400px) {
    .google-form {
        width: 320px;
        height: 840px;
    }
}
